* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding-left: 0;
}

:focus {
    outline: none !important;
}

a {
    transition: ease 0.4s all;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

header.main-header {
    position: absolute;
    width: 100%;
    z-index: 9;
    padding-top: 25px;
    padding-bottom: 25px;

}

section.main-bann {
    padding-top: 140px;
    padding-bottom: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section.main-bann:after {
    height: 100%;
    position: absolute;
    content: "";
    width: 100%;
    background: rgb(0 0 0 / 70%);
    top: 0;
    left: 0;
}

.header-logo img {
    width: 100%;
    max-width: 167px;
    height: auto;
    min-width: 167px;
}

.header-left-cont ul li {
    color: #fff;
    list-style: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 0;
    border-top: 2px solid #404040;
}

.header-left-cont ul li:first-child {
    padding-top: 0;
    border-top: 0;
}

.header-left-cont ul li:last-child {
    padding-bottom: 0;
}



.header-left {
    display: flex;
    align-items: center;
}

.header-left-cont {
    max-width: 217px;
    margin-left: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-btn ul li a {
    display: block;
    background: #ee3d29;
    padding: 11px 22px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ee3d29;
    font-weight: 500;
}

.header-btn ul li {
    display: inline-block;
    padding: 0 5px;
}

.header-btn ul li:nth-child(2) a {
    background: #fff;
    color: #ee3d29;
}

.tgl-menu {
    width: 30px;
    height: 6px;
    background: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.tgl-menu:before {
    width: 30px;
    height: 6px;
    content: "";
    display: block;
    background: #fff;
    margin-top: -10px;
}

.tgl-menu:after {
    width: 30px;
    height: 6px;
    content: "";
    display: block;
    background: #fff;
    margin-top: 14px;
}

.header-menu {
    margin-left: 50px;
}

.slide-menu.active-menu {
    right: 0;
}

.slide-menu {
    position: absolute;
    width: 100%;
    max-width: 300px;
    right: -100%;
    transition: ease 0.6s all;
    background: #01071f;
    top: 0;
    height: 100vh;
    padding: 30px 0;
    z-index: 9;
}

.tgl-menu-btn {
    cursor: pointer;
}

i.fa.fa-times.cross {
    font-size: 40px;
    color: #fff;
    padding: 0 20px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
}

.slide-menu ul li {
    list-style: none;
}

.slide-menu>ul>li {
    border-bottom: 1px solid rgb(255 255 255 / 30%);
    padding: 12px 20px;
}

.slide-menu ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;

}

.slide-menu ul.sub-menu {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10PX;
}

.slide-menu ul.sub-menu li a {
    font-size: 16px;
    margin: 5px 0;
}

.slide-menu ul li:last-child {
    border-bottom: 0;
}

span.toChild.active-icon:before {
    content: "\f106";
}

section.main-bann .container {
    z-index: 9;
    position: relative;
}


.bann-left h1 {
    font-size: 43px;
    font-weight: 800;
    color: #ee3d29;
    line-height: 50px;
    margin-bottom: 10px;
}

.bann-left h1 span {
    font-size: 15px;
    font-weight: 400;
}

.bann-left h6 {
    font-size: 21px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -0.5px;
    max-width: 400px;
    margin-bottom: 10px;
}

.bann-left p {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
}

.bann-bxs .ban-bx h3 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.5px;
}

.bann-bxs .ban-bx p {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 0;
}

.bann-bxs .ban-bx {
    background-color: #ee3d29;
    padding: 10px;
    border-radius: 0 0 25px 0;
}

.bann-bxs {
    display: flex;
    gap: 10px;
}

.bann-bxs .ban-bx.two {
    background: #fcd6d2;
}

.bann-bxs .ban-bx.two h3 {
    color: #ee3d29;
}

.bann-right {
    padding: 30px;
    background: #000;
    border-top: 5px solid #ed3d29;
    max-width: 330px;
}

.bann-right h3 {
    text-align: center;
    color: #ee3d29;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bann-right ul {
    display: flex;
    justify-content: space-between;
}

.bann-right ul li {
    list-style: none;
    position: relative;
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #fff;
}

.bann-right ul li:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ed3d29;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 6px;
}

.bann-right ul li:first-child::before {
    background: transparent;
    border: 1px solid #fff;
}

.bann-right form {
    padding-top: 20px;
}

.bann-right form input {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
    font-size: 12px;
}

.bann-right form input[type="submit"] {
    background: #ee3d29;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}